/* Reset básico para consistencia entre navegadores! */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: azure;
    color: black;
}